<!--<div class="row container">-->
    <!--<div class="col-xs-2 col-md-3">-->

    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-6 col-md-8" >-->
    <!--<div id="ques" style="border: solid;" ng-repeat="qu in questions"  ng-controller="questionsCtrl">-->
        <!--<div>-->
        <!--<h2 style="cursor: pointer" ng-click="pageView(qu,'individualQues/')">{{qu.title}}</h2>-->
            <!--</div>-->
        <!--<div>-->
            <!--{{qu.explanation}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-2 col-md-3">-->

    <!--</div>-->




<!--</div>-->
    <!--</div>-->
<!--<div class="row wrap" ng-controller="questionsCtrl">-->
    <!--<div class="col-sm-3">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<h1>Top Posts</h1>-->
                <!--<hr/>-->
                <!--<div class="panel panel-default" ng-repeat="q in questions | topPosts">-->
                    <!--<div class="panel-heading">{{q.title}}</div>-->
                    <!--<div class="panel-body">-->
                       <!--{{q.explanation}}-->
                    <!--</div>-->
                    <!--<div class="text-center" ng-click="pageView(q,'individualQues/')" style="cursor: pointer"  >-->
                       <!--<a> <span class="glyphicon glyphicon-plus" ></span> View More</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-9">-->
        <!--<h1>Recent</h1>-->

        <!--<div class="row" ng-repeat="qu in questions" style="cursor: pointer">-->
            <!--<hr/>-->
            <!--<div class="col-xs-12" ng-click="pageView(qu,'individualQues/')">-->
                <!--<h2>{{qu.title}}</h2>-->
                <!--<p>-->
                    <!--{{qu.explanation}}-->
                <!--</p>-->
                <!--<div class="text-center">-->

                   <!--<a> <span class="glyphicon glyphicon-comment"></span> {{qu.numOfComments}} Comments</a>-->
                   <!--<a> <span class="glyphicon glyphicon-thumbs-up"></span> {{qu.likes}} Likes</a>-->
                    <!--<a> <span class="glyphicon glyphicon-eye-open"></span> {{qu.views}} Views</a>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->





    <!--</div>-->
<!--</div>-->